@font-face {
  font-family: "eea-solid";
  src: url('./fonts/eea-solid/eea-solid.eot?t=1701174625573'); /* IE9*/
  src: url('./fonts/eea-solid/eea-solid.eot?t=1701174625573#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("./fonts/eea-solid/eea-solid.woff2?t=1701174625573") format("woff2"),
  url("./fonts/eea-solid/eea-solid.woff?t=1701174625573") format("woff"),
  url('./fonts/eea-solid/eea-solid.ttf?t=1701174625573') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./fonts/eea-solid/eea-solid.svg?t=1701174625573#eea-solid') format('svg'); /* iOS 4.1- */
}

[class^="eea-solid-"], [class*=" eea-solid-"] {
  font-family: 'eea-solid' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.eea-solid-academic-cap:before { content: "\ea01"; }
.eea-solid-adjustments-horizontal:before { content: "\ea02"; }
.eea-solid-adjustments-vertical:before { content: "\ea03"; }
.eea-solid-archive-box-arrow-down:before { content: "\ea04"; }
.eea-solid-archive-box-x-mark:before { content: "\ea05"; }
.eea-solid-archive-box:before { content: "\ea06"; }
.eea-solid-arrow-down-circle:before { content: "\ea07"; }
.eea-solid-arrow-down-left:before { content: "\ea08"; }
.eea-solid-arrow-down-on-square-stack:before { content: "\ea09"; }
.eea-solid-arrow-down-on-square:before { content: "\ea0a"; }
.eea-solid-arrow-down-right:before { content: "\ea0b"; }
.eea-solid-arrow-down-tray:before { content: "\ea0c"; }
.eea-solid-arrow-down:before { content: "\ea0d"; }
.eea-solid-arrow-left-circle:before { content: "\ea0e"; }
.eea-solid-arrow-left-on-rectangle:before { content: "\ea0f"; }
.eea-solid-arrow-left:before { content: "\ea10"; }
.eea-solid-arrow-long-down:before { content: "\ea11"; }
.eea-solid-arrow-long-left:before { content: "\ea12"; }
.eea-solid-arrow-long-right:before { content: "\ea13"; }
.eea-solid-arrow-long-up:before { content: "\ea14"; }
.eea-solid-arrow-path-rounded-square:before { content: "\ea15"; }
.eea-solid-arrow-path:before { content: "\ea16"; }
.eea-solid-arrow-right-circle:before { content: "\ea17"; }
.eea-solid-arrow-right-on-rectangle:before { content: "\ea18"; }
.eea-solid-arrow-right:before { content: "\ea19"; }
.eea-solid-arrow-top-right-on-square:before { content: "\ea1a"; }
.eea-solid-arrow-trending-down:before { content: "\ea1b"; }
.eea-solid-arrow-trending-up:before { content: "\ea1c"; }
.eea-solid-arrow-up-circle:before { content: "\ea1d"; }
.eea-solid-arrow-up-left:before { content: "\ea1e"; }
.eea-solid-arrow-up-on-square-stack:before { content: "\ea1f"; }
.eea-solid-arrow-up-on-square:before { content: "\ea20"; }
.eea-solid-arrow-up-right:before { content: "\ea21"; }
.eea-solid-arrow-up-tray:before { content: "\ea22"; }
.eea-solid-arrow-up:before { content: "\ea23"; }
.eea-solid-arrow-uturn-down:before { content: "\ea24"; }
.eea-solid-arrow-uturn-left:before { content: "\ea25"; }
.eea-solid-arrow-uturn-right:before { content: "\ea26"; }
.eea-solid-arrow-uturn-up:before { content: "\ea27"; }
.eea-solid-arrows-pointing-in:before { content: "\ea28"; }
.eea-solid-arrows-pointing-out:before { content: "\ea29"; }
.eea-solid-arrows-right-left:before { content: "\ea2a"; }
.eea-solid-arrows-up-down:before { content: "\ea2b"; }
.eea-solid-at-symbol:before { content: "\ea2c"; }
.eea-solid-backspace:before { content: "\ea2d"; }
.eea-solid-backward:before { content: "\ea2e"; }
.eea-solid-banknotes:before { content: "\ea2f"; }
.eea-solid-bars-2:before { content: "\ea30"; }
.eea-solid-bars-3-bottom-left:before { content: "\ea31"; }
.eea-solid-bars-3-bottom-right:before { content: "\ea32"; }
.eea-solid-bars-3-center-left:before { content: "\ea33"; }
.eea-solid-bars-3:before { content: "\ea34"; }
.eea-solid-bars-4:before { content: "\ea35"; }
.eea-solid-bars-arrow-down:before { content: "\ea36"; }
.eea-solid-bars-arrow-up:before { content: "\ea37"; }
.eea-solid-battery-0:before { content: "\ea38"; }
.eea-solid-battery-100:before { content: "\ea39"; }
.eea-solid-battery-50:before { content: "\ea3a"; }
.eea-solid-beaker:before { content: "\ea3b"; }
.eea-solid-bell-alert:before { content: "\ea3c"; }
.eea-solid-bell-slash:before { content: "\ea3d"; }
.eea-solid-bell-snooze:before { content: "\ea3e"; }
.eea-solid-bell:before { content: "\ea3f"; }
.eea-solid-bolt-slash:before { content: "\ea40"; }
.eea-solid-bolt:before { content: "\ea41"; }
.eea-solid-book-open:before { content: "\ea42"; }
.eea-solid-bookmark-slash:before { content: "\ea43"; }
.eea-solid-bookmark-square:before { content: "\ea44"; }
.eea-solid-bookmark:before { content: "\ea45"; }
.eea-solid-briefcase:before { content: "\ea46"; }
.eea-solid-bug-ant:before { content: "\ea47"; }
.eea-solid-building-library:before { content: "\ea48"; }
.eea-solid-building-office-2:before { content: "\ea49"; }
.eea-solid-building-office:before { content: "\ea4a"; }
.eea-solid-building-storefront:before { content: "\ea4b"; }
.eea-solid-cake:before { content: "\ea4c"; }
.eea-solid-calculator:before { content: "\ea4d"; }
.eea-solid-calendar-days:before { content: "\ea4e"; }
.eea-solid-calendar:before { content: "\ea4f"; }
.eea-solid-camera:before { content: "\ea50"; }
.eea-solid-chart-bar-square:before { content: "\ea51"; }
.eea-solid-chart-bar:before { content: "\ea52"; }
.eea-solid-chart-pie:before { content: "\ea53"; }
.eea-solid-chat-bubble-bottom-center-text:before { content: "\ea54"; }
.eea-solid-chat-bubble-bottom-center:before { content: "\ea55"; }
.eea-solid-chat-bubble-left-ellipsis:before { content: "\ea56"; }
.eea-solid-chat-bubble-left-right:before { content: "\ea57"; }
.eea-solid-chat-bubble-left:before { content: "\ea58"; }
.eea-solid-chat-bubble-oval-left-ellipsis:before { content: "\ea59"; }
.eea-solid-chat-bubble-oval-left:before { content: "\ea5a"; }
.eea-solid-check-badge:before { content: "\ea5b"; }
.eea-solid-check-circle:before { content: "\ea5c"; }
.eea-solid-check:before { content: "\ea5d"; }
.eea-solid-chevron-double-down:before { content: "\ea5e"; }
.eea-solid-chevron-double-left:before { content: "\ea5f"; }
.eea-solid-chevron-double-right:before { content: "\ea60"; }
.eea-solid-chevron-double-up:before { content: "\ea61"; }
.eea-solid-chevron-down:before { content: "\ea62"; }
.eea-solid-chevron-left:before { content: "\ea63"; }
.eea-solid-chevron-right:before { content: "\ea64"; }
.eea-solid-chevron-up-down:before { content: "\ea65"; }
.eea-solid-chevron-up:before { content: "\ea66"; }
.eea-solid-circle-stack:before { content: "\ea67"; }
.eea-solid-clipboard-document-check:before { content: "\ea68"; }
.eea-solid-clipboard-document-list:before { content: "\ea69"; }
.eea-solid-clipboard-document:before { content: "\ea6a"; }
.eea-solid-clipboard:before { content: "\ea6b"; }
.eea-solid-clock:before { content: "\ea6c"; }
.eea-solid-cloud-arrow-down:before { content: "\ea6d"; }
.eea-solid-cloud-arrow-up:before { content: "\ea6e"; }
.eea-solid-cloud:before { content: "\ea6f"; }
.eea-solid-code-bracket-square:before { content: "\ea70"; }
.eea-solid-code-bracket:before { content: "\ea71"; }
.eea-solid-cog-6-tooth:before { content: "\ea72"; }
.eea-solid-cog-8-tooth:before { content: "\ea73"; }
.eea-solid-cog:before { content: "\ea74"; }
.eea-solid-command-line:before { content: "\ea75"; }
.eea-solid-computer-desktop:before { content: "\ea76"; }
.eea-solid-cpu-chip:before { content: "\ea77"; }
.eea-solid-credit-card:before { content: "\ea78"; }
.eea-solid-cube-transparent:before { content: "\ea79"; }
.eea-solid-cube:before { content: "\ea7a"; }
.eea-solid-currency-bangladeshi:before { content: "\ea7b"; }
.eea-solid-currency-dollar:before { content: "\ea7c"; }
.eea-solid-currency-euro:before { content: "\ea7d"; }
.eea-solid-currency-pound:before { content: "\ea7e"; }
.eea-solid-currency-rupee:before { content: "\ea7f"; }
.eea-solid-currency-yen:before { content: "\ea80"; }
.eea-solid-cursor-arrow-rays:before { content: "\ea81"; }
.eea-solid-cursor-arrow-ripple:before { content: "\ea82"; }
.eea-solid-device-phone-mobile:before { content: "\ea83"; }
.eea-solid-device-tablet:before { content: "\ea84"; }
.eea-solid-document-arrow-down:before { content: "\ea85"; }
.eea-solid-document-arrow-up:before { content: "\ea86"; }
.eea-solid-document-chart-bar:before { content: "\ea87"; }
.eea-solid-document-check:before { content: "\ea88"; }
.eea-solid-document-duplicate:before { content: "\ea89"; }
.eea-solid-document-magnifying-glass:before { content: "\ea8a"; }
.eea-solid-document-minus:before { content: "\ea8b"; }
.eea-solid-document-plus:before { content: "\ea8c"; }
.eea-solid-document-text:before { content: "\ea8d"; }
.eea-solid-document:before { content: "\ea8e"; }
.eea-solid-ellipsis-horizontal-circle:before { content: "\ea8f"; }
.eea-solid-ellipsis-horizontal:before { content: "\ea90"; }
.eea-solid-ellipsis-vertical:before { content: "\ea91"; }
.eea-solid-envelope-open:before { content: "\ea92"; }
.eea-solid-envelope:before { content: "\ea93"; }
.eea-solid-exclaimation-circle:before { content: "\ea94"; }
.eea-solid-exclamation-triangle:before { content: "\ea95"; }
.eea-solid-eye-dropper:before { content: "\ea96"; }
.eea-solid-eye-slash:before { content: "\ea97"; }
.eea-solid-eye:before { content: "\ea98"; }
.eea-solid-face-frown:before { content: "\ea99"; }
.eea-solid-face-smile:before { content: "\ea9a"; }
.eea-solid-film:before { content: "\ea9b"; }
.eea-solid-finger-print:before { content: "\ea9c"; }
.eea-solid-fire:before { content: "\ea9d"; }
.eea-solid-flag:before { content: "\ea9e"; }
.eea-solid-folder-arrow-down:before { content: "\ea9f"; }
.eea-solid-folder-minus:before { content: "\eaa0"; }
.eea-solid-folder-open:before { content: "\eaa1"; }
.eea-solid-folder-plus:before { content: "\eaa2"; }
.eea-solid-folder:before { content: "\eaa3"; }
.eea-solid-forward:before { content: "\eaa4"; }
.eea-solid-funnel:before { content: "\eaa5"; }
.eea-solid-gif:before { content: "\eaa6"; }
.eea-solid-gift-top:before { content: "\eaa7"; }
.eea-solid-gift:before { content: "\eaa8"; }
.eea-solid-globe-alt:before { content: "\eaa9"; }
.eea-solid-globe-americas:before { content: "\eaaa"; }
.eea-solid-globe-asia-australia:before { content: "\eaab"; }
.eea-solid-globe-europe-africa:before { content: "\eaac"; }
.eea-solid-hand-raised:before { content: "\eaad"; }
.eea-solid-hand-thumb-down:before { content: "\eaae"; }
.eea-solid-hand-thumb-up:before { content: "\eaaf"; }
.eea-solid-hashtag:before { content: "\eab0"; }
.eea-solid-heart:before { content: "\eab1"; }
.eea-solid-home-modern:before { content: "\eab2"; }
.eea-solid-home:before { content: "\eab3"; }
.eea-solid-identification:before { content: "\eab4"; }
.eea-solid-inbox-arrow-down:before { content: "\eab5"; }
.eea-solid-inbox-stack:before { content: "\eab6"; }
.eea-solid-inbox:before { content: "\eab7"; }
.eea-solid-information-circle:before { content: "\eab8"; }
.eea-solid-key:before { content: "\eab9"; }
.eea-solid-language:before { content: "\eaba"; }
.eea-solid-lifebuoy:before { content: "\eabb"; }
.eea-solid-light-bulb:before { content: "\eabc"; }
.eea-solid-link:before { content: "\eabd"; }
.eea-solid-list-bullet:before { content: "\eabe"; }
.eea-solid-lock-closed:before { content: "\eabf"; }
.eea-solid-lock-open:before { content: "\eac0"; }
.eea-solid-magnifying-glass-circle:before { content: "\eac1"; }
.eea-solid-magnifying-glass-minus:before { content: "\eac2"; }
.eea-solid-magnifying-glass-plus:before { content: "\eac3"; }
.eea-solid-magnifying-glass:before { content: "\eac4"; }
.eea-solid-map-pin:before { content: "\eac5"; }
.eea-solid-map:before { content: "\eac6"; }
.eea-solid-megaphone:before { content: "\eac7"; }
.eea-solid-microphone:before { content: "\eac8"; }
.eea-solid-minus-circle:before { content: "\eac9"; }
.eea-solid-minus:before { content: "\eaca"; }
.eea-solid-moon:before { content: "\eacb"; }
.eea-solid-musical-note:before { content: "\eacc"; }
.eea-solid-newspaper:before { content: "\eacd"; }
.eea-solid-no-symbol:before { content: "\eace"; }
.eea-solid-paint-brush:before { content: "\eacf"; }
.eea-solid-paper-airplane:before { content: "\ead0"; }
.eea-solid-paper-clip:before { content: "\ead1"; }
.eea-solid-pause-circle:before { content: "\ead2"; }
.eea-solid-pause:before { content: "\ead3"; }
.eea-solid-pencil-square:before { content: "\ead4"; }
.eea-solid-pencil:before { content: "\ead5"; }
.eea-solid-phone-arrow-down-left:before { content: "\ead6"; }
.eea-solid-phone-arrow-up-right:before { content: "\ead7"; }
.eea-solid-phone-x-mark:before { content: "\ead8"; }
.eea-solid-phone:before { content: "\ead9"; }
.eea-solid-photo:before { content: "\eada"; }
.eea-solid-play-circle:before { content: "\eadb"; }
.eea-solid-play-pause:before { content: "\eadc"; }
.eea-solid-play:before { content: "\eadd"; }
.eea-solid-plus-circle:before { content: "\eade"; }
.eea-solid-plus:before { content: "\eadf"; }
.eea-solid-power:before { content: "\eae0"; }
.eea-solid-presentation-chart-bar:before { content: "\eae1"; }
.eea-solid-presentation-chart-line:before { content: "\eae2"; }
.eea-solid-printer:before { content: "\eae3"; }
.eea-solid-puzzle-piece:before { content: "\eae4"; }
.eea-solid-qr-code:before { content: "\eae5"; }
.eea-solid-question-mark-circle:before { content: "\eae6"; }
.eea-solid-queue-list:before { content: "\eae7"; }
.eea-solid-radio:before { content: "\eae8"; }
.eea-solid-receipt-percent:before { content: "\eae9"; }
.eea-solid-receipt-refund:before { content: "\eaea"; }
.eea-solid-rectangle-group:before { content: "\eaeb"; }
.eea-solid-rectangle-stack:before { content: "\eaec"; }
.eea-solid-rocket-launch:before { content: "\eaed"; }
.eea-solid-rss:before { content: "\eaee"; }
.eea-solid-scale:before { content: "\eaef"; }
.eea-solid-scissors:before { content: "\eaf0"; }
.eea-solid-server-stack:before { content: "\eaf1"; }
.eea-solid-server:before { content: "\eaf2"; }
.eea-solid-share:before { content: "\eaf3"; }
.eea-solid-shield-check:before { content: "\eaf4"; }
.eea-solid-shield-exclamation:before { content: "\eaf5"; }
.eea-solid-shopping-bag:before { content: "\eaf6"; }
.eea-solid-shopping-cart:before { content: "\eaf7"; }
.eea-solid-signal-slash:before { content: "\eaf8"; }
.eea-solid-signal:before { content: "\eaf9"; }
.eea-solid-sparkles:before { content: "\eafa"; }
.eea-solid-speaker-wave:before { content: "\eafb"; }
.eea-solid-speaker-x-mark:before { content: "\eafc"; }
.eea-solid-square-2-stack:before { content: "\eafd"; }
.eea-solid-square-3-stack-3d:before { content: "\eafe"; }
.eea-solid-squares-2x2:before { content: "\eaff"; }
.eea-solid-squares-plus:before { content: "\eb00"; }
.eea-solid-star:before { content: "\eb01"; }
.eea-solid-stop-circle:before { content: "\eb02"; }
.eea-solid-stop:before { content: "\eb03"; }
.eea-solid-sun:before { content: "\eb04"; }
.eea-solid-swatch:before { content: "\eb05"; }
.eea-solid-table-cells:before { content: "\eb06"; }
.eea-solid-tag:before { content: "\eb07"; }
.eea-solid-ticket:before { content: "\eb08"; }
.eea-solid-trash:before { content: "\eb09"; }
.eea-solid-trophy:before { content: "\eb0a"; }
.eea-solid-truck:before { content: "\eb0b"; }
.eea-solid-tv:before { content: "\eb0c"; }
.eea-solid-user-circle:before { content: "\eb0d"; }
.eea-solid-user-group:before { content: "\eb0e"; }
.eea-solid-user-minus:before { content: "\eb0f"; }
.eea-solid-user-plus:before { content: "\eb10"; }
.eea-solid-user:before { content: "\eb11"; }
.eea-solid-users:before { content: "\eb12"; }
.eea-solid-variable:before { content: "\eb13"; }
.eea-solid-video-camera-slash:before { content: "\eb14"; }
.eea-solid-video-camera:before { content: "\eb15"; }
.eea-solid-view-columns:before { content: "\eb16"; }
.eea-solid-viewfinder-dot:before { content: "\eb17"; }
.eea-solid-wallet:before { content: "\eb18"; }
.eea-solid-wifi:before { content: "\eb19"; }
.eea-solid-window:before { content: "\eb1a"; }
.eea-solid-wrench-screwdriver:before { content: "\eb1b"; }
.eea-solid-wrench:before { content: "\eb1c"; }
.eea-solid-x-circle:before { content: "\eb1d"; }
.eea-solid-x-mark:before { content: "\eb1e"; }

