@font-face {
  font-family: "eea-mini";
  src: url('./fonts/eea-mini/eea-mini.eot?t=1701175102840'); /* IE9*/
  src: url('./fonts/eea-mini/eea-mini.eot?t=1701175102840#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("./fonts/eea-mini/eea-mini.woff2?t=1701175102840") format("woff2"),
  url("./fonts/eea-mini/eea-mini.woff?t=1701175102840") format("woff"),
  url('./fonts/eea-mini/eea-mini.ttf?t=1701175102840') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./fonts/eea-mini/eea-mini.svg?t=1701175102840#eea-mini') format('svg'); /* iOS 4.1- */
}

[class^="eea-mini-"], [class*=" eea-mini-"] {
  font-family: 'eea-mini' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.eea-mini-academic-cap:before { content: "\ea01"; }
.eea-mini-adjustments-horizontal:before { content: "\ea02"; }
.eea-mini-adjustments-vertical:before { content: "\ea03"; }
.eea-mini-archive-box-arrow-down:before { content: "\ea04"; }
.eea-mini-archive-box-x-mark:before { content: "\ea05"; }
.eea-mini-archive-box:before { content: "\ea06"; }
.eea-mini-arrow-down-circle:before { content: "\ea07"; }
.eea-mini-arrow-down-left:before { content: "\ea08"; }
.eea-mini-arrow-down-on-square-stack:before { content: "\ea09"; }
.eea-mini-arrow-down-on-square:before { content: "\ea0a"; }
.eea-mini-arrow-down-right:before { content: "\ea0b"; }
.eea-mini-arrow-down-tray:before { content: "\ea0c"; }
.eea-mini-arrow-down:before { content: "\ea0d"; }
.eea-mini-arrow-left-circle:before { content: "\ea0e"; }
.eea-mini-arrow-left-on-rectangle:before { content: "\ea0f"; }
.eea-mini-arrow-left:before { content: "\ea10"; }
.eea-mini-arrow-long-down:before { content: "\ea11"; }
.eea-mini-arrow-long-left:before { content: "\ea12"; }
.eea-mini-arrow-long-right:before { content: "\ea13"; }
.eea-mini-arrow-long-up:before { content: "\ea14"; }
.eea-mini-arrow-path-rounded-square:before { content: "\ea15"; }
.eea-mini-arrow-path:before { content: "\ea16"; }
.eea-mini-arrow-right-circle:before { content: "\ea17"; }
.eea-mini-arrow-right-on-rectangle:before { content: "\ea18"; }
.eea-mini-arrow-right:before { content: "\ea19"; }
.eea-mini-arrow-small-down:before { content: "\ea1a"; }
.eea-mini-arrow-small-left:before { content: "\ea1b"; }
.eea-mini-arrow-small-right:before { content: "\ea1c"; }
.eea-mini-arrow-small-up:before { content: "\ea1d"; }
.eea-mini-arrow-top-right-on-square:before { content: "\ea1e"; }
.eea-mini-arrow-trending-down:before { content: "\ea1f"; }
.eea-mini-arrow-trending-up:before { content: "\ea20"; }
.eea-mini-arrow-up-circle:before { content: "\ea21"; }
.eea-mini-arrow-up-left:before { content: "\ea22"; }
.eea-mini-arrow-up-on-square-stack:before { content: "\ea23"; }
.eea-mini-arrow-up-on-square:before { content: "\ea24"; }
.eea-mini-arrow-up-right:before { content: "\ea25"; }
.eea-mini-arrow-up-tray:before { content: "\ea26"; }
.eea-mini-arrow-up:before { content: "\ea27"; }
.eea-mini-arrow-uturn-down:before { content: "\ea28"; }
.eea-mini-arrow-uturn-left:before { content: "\ea29"; }
.eea-mini-arrow-uturn-right:before { content: "\ea2a"; }
.eea-mini-arrow-uturn-up:before { content: "\ea2b"; }
.eea-mini-arrows-pointing-in:before { content: "\ea2c"; }
.eea-mini-arrows-pointing-out:before { content: "\ea2d"; }
.eea-mini-arrows-right-left:before { content: "\ea2e"; }
.eea-mini-arrows-up-down:before { content: "\ea2f"; }
.eea-mini-at-symbol:before { content: "\ea30"; }
.eea-mini-backspace:before { content: "\ea31"; }
.eea-mini-backward:before { content: "\ea32"; }
.eea-mini-banknotes:before { content: "\ea33"; }
.eea-mini-bars-2:before { content: "\ea34"; }
.eea-mini-bars-3-bottom-left:before { content: "\ea35"; }
.eea-mini-bars-3-bottom-right:before { content: "\ea36"; }
.eea-mini-bars-3-center-left:before { content: "\ea37"; }
.eea-mini-bars-3:before { content: "\ea38"; }
.eea-mini-bars-4:before { content: "\ea39"; }
.eea-mini-bars-arrow-down:before { content: "\ea3a"; }
.eea-mini-bars-arrow-up:before { content: "\ea3b"; }
.eea-mini-battery-0:before { content: "\ea3c"; }
.eea-mini-battery-100:before { content: "\ea3d"; }
.eea-mini-battery-50:before { content: "\ea3e"; }
.eea-mini-beaker:before { content: "\ea3f"; }
.eea-mini-bell-alert:before { content: "\ea40"; }
.eea-mini-bell-slash:before { content: "\ea41"; }
.eea-mini-bell-snooze:before { content: "\ea42"; }
.eea-mini-bell:before { content: "\ea43"; }
.eea-mini-bolt-slash:before { content: "\ea44"; }
.eea-mini-bolt:before { content: "\ea45"; }
.eea-mini-book-open:before { content: "\ea46"; }
.eea-mini-bookmark-slash:before { content: "\ea47"; }
.eea-mini-bookmark-square:before { content: "\ea48"; }
.eea-mini-bookmark:before { content: "\ea49"; }
.eea-mini-briefcase:before { content: "\ea4a"; }
.eea-mini-bug-ant:before { content: "\ea4b"; }
.eea-mini-building-library:before { content: "\ea4c"; }
.eea-mini-building-office-2:before { content: "\ea4d"; }
.eea-mini-building-office:before { content: "\ea4e"; }
.eea-mini-building-storefront:before { content: "\ea4f"; }
.eea-mini-cake:before { content: "\ea50"; }
.eea-mini-calculator:before { content: "\ea51"; }
.eea-mini-calendar-days:before { content: "\ea52"; }
.eea-mini-calendar:before { content: "\ea53"; }
.eea-mini-camera:before { content: "\ea54"; }
.eea-mini-chart-bar-square:before { content: "\ea55"; }
.eea-mini-chart-bar:before { content: "\ea56"; }
.eea-mini-chart-pie:before { content: "\ea57"; }
.eea-mini-chat-bubble-bottom-center-text:before { content: "\ea58"; }
.eea-mini-chat-bubble-bottom-center:before { content: "\ea59"; }
.eea-mini-chat-bubble-left-ellipsis:before { content: "\ea5a"; }
.eea-mini-chat-bubble-left-right:before { content: "\ea5b"; }
.eea-mini-chat-bubble-left:before { content: "\ea5c"; }
.eea-mini-chat-bubble-oval-left-ellipsis:before { content: "\ea5d"; }
.eea-mini-chat-bubble-oval-left:before { content: "\ea5e"; }
.eea-mini-check-badge:before { content: "\ea5f"; }
.eea-mini-check-circle:before { content: "\ea60"; }
.eea-mini-check:before { content: "\ea61"; }
.eea-mini-chevron-double-down:before { content: "\ea62"; }
.eea-mini-chevron-double-left:before { content: "\ea63"; }
.eea-mini-chevron-double-right:before { content: "\ea64"; }
.eea-mini-chevron-double-up:before { content: "\ea65"; }
.eea-mini-chevron-down:before { content: "\ea66"; }
.eea-mini-chevron-left:before { content: "\ea67"; }
.eea-mini-chevron-right:before { content: "\ea68"; }
.eea-mini-chevron-up-down:before { content: "\ea69"; }
.eea-mini-chevron-up:before { content: "\ea6a"; }
.eea-mini-circle-stack:before { content: "\ea6b"; }
.eea-mini-clipboard-document-check:before { content: "\ea6c"; }
.eea-mini-clipboard-document-list:before { content: "\ea6d"; }
.eea-mini-clipboard-document:before { content: "\ea6e"; }
.eea-mini-clipboard:before { content: "\ea6f"; }
.eea-mini-clock:before { content: "\ea70"; }
.eea-mini-cloud-arrow-down:before { content: "\ea71"; }
.eea-mini-cloud-arrow-up:before { content: "\ea72"; }
.eea-mini-cloud:before { content: "\ea73"; }
.eea-mini-code-bracket-square:before { content: "\ea74"; }
.eea-mini-code-bracket:before { content: "\ea75"; }
.eea-mini-cog-6-tooth:before { content: "\ea76"; }
.eea-mini-cog-8-tooth:before { content: "\ea77"; }
.eea-mini-cog:before { content: "\ea78"; }
.eea-mini-command-line:before { content: "\ea79"; }
.eea-mini-computer-desktop:before { content: "\ea7a"; }
.eea-mini-cpu-chip:before { content: "\ea7b"; }
.eea-mini-credit-card:before { content: "\ea7c"; }
.eea-mini-cube-transparent:before { content: "\ea7d"; }
.eea-mini-cube:before { content: "\ea7e"; }
.eea-mini-currency-bangladeshi:before { content: "\ea7f"; }
.eea-mini-currency-dollar:before { content: "\ea80"; }
.eea-mini-currency-euro:before { content: "\ea81"; }
.eea-mini-currency-pound:before { content: "\ea82"; }
.eea-mini-currency-rupee:before { content: "\ea83"; }
.eea-mini-currency-yen:before { content: "\ea84"; }
.eea-mini-cursor-arrow-rays:before { content: "\ea85"; }
.eea-mini-cursor-arrow-ripple:before { content: "\ea86"; }
.eea-mini-device-phone-mobile:before { content: "\ea87"; }
.eea-mini-device-tablet:before { content: "\ea88"; }
.eea-mini-document-arrow-down:before { content: "\ea89"; }
.eea-mini-document-arrow-up:before { content: "\ea8a"; }
.eea-mini-document-chart-bar:before { content: "\ea8b"; }
.eea-mini-document-check:before { content: "\ea8c"; }
.eea-mini-document-duplicate:before { content: "\ea8d"; }
.eea-mini-document-magnifying-glass:before { content: "\ea8e"; }
.eea-mini-document-minus:before { content: "\ea8f"; }
.eea-mini-document-plus:before { content: "\ea90"; }
.eea-mini-document-text:before { content: "\ea91"; }
.eea-mini-document:before { content: "\ea92"; }
.eea-mini-ellipsis-horizontal-circle:before { content: "\ea93"; }
.eea-mini-ellipsis-horizontal:before { content: "\ea94"; }
.eea-mini-ellipsis-vertical:before { content: "\ea95"; }
.eea-mini-envelope-open:before { content: "\ea96"; }
.eea-mini-envelope:before { content: "\ea97"; }
.eea-mini-exclaimation-circle:before { content: "\ea98"; }
.eea-mini-exclamation-triangle:before { content: "\ea99"; }
.eea-mini-eye-dropper:before { content: "\ea9a"; }
.eea-mini-eye-slash:before { content: "\ea9b"; }
.eea-mini-eye:before { content: "\ea9c"; }
.eea-mini-face-frown:before { content: "\ea9d"; }
.eea-mini-face-smile:before { content: "\ea9e"; }
.eea-mini-film:before { content: "\ea9f"; }
.eea-mini-finger-print:before { content: "\eaa0"; }
.eea-mini-fire:before { content: "\eaa1"; }
.eea-mini-flag:before { content: "\eaa2"; }
.eea-mini-folder-arrow-down:before { content: "\eaa3"; }
.eea-mini-folder-minus:before { content: "\eaa4"; }
.eea-mini-folder-open:before { content: "\eaa5"; }
.eea-mini-folder-plus:before { content: "\eaa6"; }
.eea-mini-folder:before { content: "\eaa7"; }
.eea-mini-forward:before { content: "\eaa8"; }
.eea-mini-funnel:before { content: "\eaa9"; }
.eea-mini-gif:before { content: "\eaaa"; }
.eea-mini-gift-top:before { content: "\eaab"; }
.eea-mini-gift:before { content: "\eaac"; }
.eea-mini-globe-alt:before { content: "\eaad"; }
.eea-mini-globe-americas:before { content: "\eaae"; }
.eea-mini-globe-asia-australia:before { content: "\eaaf"; }
.eea-mini-globe-europe-africa:before { content: "\eab0"; }
.eea-mini-hand-raised:before { content: "\eab1"; }
.eea-mini-hand-thumb-down:before { content: "\eab2"; }
.eea-mini-hand-thumb-up:before { content: "\eab3"; }
.eea-mini-hashtag:before { content: "\eab4"; }
.eea-mini-heart:before { content: "\eab5"; }
.eea-mini-home-modern:before { content: "\eab6"; }
.eea-mini-home:before { content: "\eab7"; }
.eea-mini-identification:before { content: "\eab8"; }
.eea-mini-inbox-arrow-down:before { content: "\eab9"; }
.eea-mini-inbox-stack:before { content: "\eaba"; }
.eea-mini-inbox:before { content: "\eabb"; }
.eea-mini-information-circle:before { content: "\eabc"; }
.eea-mini-key:before { content: "\eabd"; }
.eea-mini-language:before { content: "\eabe"; }
.eea-mini-lifebuoy:before { content: "\eabf"; }
.eea-mini-light-bulb:before { content: "\eac0"; }
.eea-mini-link:before { content: "\eac1"; }
.eea-mini-list-bullet:before { content: "\eac2"; }
.eea-mini-lock-closed:before { content: "\eac3"; }
.eea-mini-lock-open:before { content: "\eac4"; }
.eea-mini-magnifying-glass-circle:before { content: "\eac5"; }
.eea-mini-magnifying-glass-minus:before { content: "\eac6"; }
.eea-mini-magnifying-glass-plus:before { content: "\eac7"; }
.eea-mini-magnifying-glass:before { content: "\eac8"; }
.eea-mini-map-pin:before { content: "\eac9"; }
.eea-mini-map:before { content: "\eaca"; }
.eea-mini-megaphone:before { content: "\eacb"; }
.eea-mini-microphone:before { content: "\eacc"; }
.eea-mini-minus-circle:before { content: "\eacd"; }
.eea-mini-minus-small:before { content: "\eace"; }
.eea-mini-minus:before { content: "\eacf"; }
.eea-mini-moon:before { content: "\ead0"; }
.eea-mini-musical-note:before { content: "\ead1"; }
.eea-mini-newspaper:before { content: "\ead2"; }
.eea-mini-no-symbol:before { content: "\ead3"; }
.eea-mini-paint-brush:before { content: "\ead4"; }
.eea-mini-paper-airplane:before { content: "\ead5"; }
.eea-mini-paper-clip:before { content: "\ead6"; }
.eea-mini-pause-circle:before { content: "\ead7"; }
.eea-mini-pause:before { content: "\ead8"; }
.eea-mini-pencil-square:before { content: "\ead9"; }
.eea-mini-pencil:before { content: "\eada"; }
.eea-mini-phone-arrow-down-left:before { content: "\eadb"; }
.eea-mini-phone-arrow-up-right:before { content: "\eadc"; }
.eea-mini-phone-x-mark:before { content: "\eadd"; }
.eea-mini-phone:before { content: "\eade"; }
.eea-mini-photo:before { content: "\eadf"; }
.eea-mini-play-circle:before { content: "\eae0"; }
.eea-mini-play-pause:before { content: "\eae1"; }
.eea-mini-play:before { content: "\eae2"; }
.eea-mini-plus-circle:before { content: "\eae3"; }
.eea-mini-plus-small:before { content: "\eae4"; }
.eea-mini-plus:before { content: "\eae5"; }
.eea-mini-power:before { content: "\eae6"; }
.eea-mini-presentation-chart-bar:before { content: "\eae7"; }
.eea-mini-presentation-chart-line:before { content: "\eae8"; }
.eea-mini-printer:before { content: "\eae9"; }
.eea-mini-puzzle-piece:before { content: "\eaea"; }
.eea-mini-qr-code:before { content: "\eaeb"; }
.eea-mini-question-mark-circle:before { content: "\eaec"; }
.eea-mini-queue-list:before { content: "\eaed"; }
.eea-mini-radio:before { content: "\eaee"; }
.eea-mini-receipt-percent:before { content: "\eaef"; }
.eea-mini-receipt-refund:before { content: "\eaf0"; }
.eea-mini-rectangle-group:before { content: "\eaf1"; }
.eea-mini-rectangle-stack:before { content: "\eaf2"; }
.eea-mini-rocket-launch:before { content: "\eaf3"; }
.eea-mini-rss:before { content: "\eaf4"; }
.eea-mini-scale:before { content: "\eaf5"; }
.eea-mini-scissors:before { content: "\eaf6"; }
.eea-mini-server-stack:before { content: "\eaf7"; }
.eea-mini-server:before { content: "\eaf8"; }
.eea-mini-share:before { content: "\eaf9"; }
.eea-mini-shield-check:before { content: "\eafa"; }
.eea-mini-shield-exclamation:before { content: "\eafb"; }
.eea-mini-shopping-bag:before { content: "\eafc"; }
.eea-mini-shopping-cart:before { content: "\eafd"; }
.eea-mini-signal-slash:before { content: "\eafe"; }
.eea-mini-signal:before { content: "\eaff"; }
.eea-mini-sparkles:before { content: "\eb00"; }
.eea-mini-speaker-wave:before { content: "\eb01"; }
.eea-mini-speaker-x-mark:before { content: "\eb02"; }
.eea-mini-square-2-stack:before { content: "\eb03"; }
.eea-mini-square-3-stack-3d:before { content: "\eb04"; }
.eea-mini-squares-2x2:before { content: "\eb05"; }
.eea-mini-squares-plus:before { content: "\eb06"; }
.eea-mini-star:before { content: "\eb07"; }
.eea-mini-stop-circle:before { content: "\eb08"; }
.eea-mini-stop:before { content: "\eb09"; }
.eea-mini-sun:before { content: "\eb0a"; }
.eea-mini-swatch:before { content: "\eb0b"; }
.eea-mini-table-cells:before { content: "\eb0c"; }
.eea-mini-tag:before { content: "\eb0d"; }
.eea-mini-ticket:before { content: "\eb0e"; }
.eea-mini-trash:before { content: "\eb0f"; }
.eea-mini-trophy:before { content: "\eb10"; }
.eea-mini-truck:before { content: "\eb11"; }
.eea-mini-tv:before { content: "\eb12"; }
.eea-mini-user-circle:before { content: "\eb13"; }
.eea-mini-user-group:before { content: "\eb14"; }
.eea-mini-user-minus:before { content: "\eb15"; }
.eea-mini-user-plus:before { content: "\eb16"; }
.eea-mini-user:before { content: "\eb17"; }
.eea-mini-users:before { content: "\eb18"; }
.eea-mini-variable:before { content: "\eb19"; }
.eea-mini-video-camera-slash:before { content: "\eb1a"; }
.eea-mini-video-camera:before { content: "\eb1b"; }
.eea-mini-view-columns:before { content: "\eb1c"; }
.eea-mini-viewfinder-dot:before { content: "\eb1d"; }
.eea-mini-wallet:before { content: "\eb1e"; }
.eea-mini-wifi:before { content: "\eb1f"; }
.eea-mini-window:before { content: "\eb20"; }
.eea-mini-wrench-screwdriver:before { content: "\eb21"; }
.eea-mini-wrench:before { content: "\eb22"; }
.eea-mini-x-circle:before { content: "\eb23"; }
.eea-mini-x-mark:before { content: "\eb24"; }

