@font-face {
  font-family: "eea-outline";
  src: url('./fonts/eea-outline/eea-outline.eot?t=1701175521505'); /* IE9*/
  src: url('./fonts/eea-outline/eea-outline.eot?t=1701175521505#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("./fonts/eea-outline/eea-outline.woff2?t=1701175521505") format("woff2"),
  url("./fonts/eea-outline/eea-outline.woff?t=1701175521505") format("woff"),
  url('./fonts/eea-outline/eea-outline.ttf?t=1701175521505') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./fonts/eea-outline/eea-outline.svg?t=1701175521505#eea-outline') format('svg'); /* iOS 4.1- */
}

[class^="eea-outline-"], [class*=" eea-outline-"] {
  font-family: 'eea-outline' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.eea-outline-academic-cap:before { content: "\ea01"; }
.eea-outline-adjustments-horizontal:before { content: "\ea02"; }
.eea-outline-adjustments-vertical:before { content: "\ea03"; }
.eea-outline-archive-box-arrow-down:before { content: "\ea04"; }
.eea-outline-archive-box-x-mark:before { content: "\ea05"; }
.eea-outline-archive-box:before { content: "\ea06"; }
.eea-outline-arrow-down-circle:before { content: "\ea07"; }
.eea-outline-arrow-down-left:before { content: "\ea08"; }
.eea-outline-arrow-down-on-square-stack:before { content: "\ea09"; }
.eea-outline-arrow-down-on-square:before { content: "\ea0a"; }
.eea-outline-arrow-down-right:before { content: "\ea0b"; }
.eea-outline-arrow-down-tray:before { content: "\ea0c"; }
.eea-outline-arrow-down:before { content: "\ea0d"; }
.eea-outline-arrow-left-circle:before { content: "\ea0e"; }
.eea-outline-arrow-left-on-rectangle:before { content: "\ea0f"; }
.eea-outline-arrow-left:before { content: "\ea10"; }
.eea-outline-arrow-long-down:before { content: "\ea11"; }
.eea-outline-arrow-long-left:before { content: "\ea12"; }
.eea-outline-arrow-long-right:before { content: "\ea13"; }
.eea-outline-arrow-long-up:before { content: "\ea14"; }
.eea-outline-arrow-path-rounded-square:before { content: "\ea15"; }
.eea-outline-arrow-path:before { content: "\ea16"; }
.eea-outline-arrow-right-circle:before { content: "\ea17"; }
.eea-outline-arrow-right-on-rectangle:before { content: "\ea18"; }
.eea-outline-arrow-right:before { content: "\ea19"; }
.eea-outline-arrow-small-down-1:before { content: "\ea1a"; }
.eea-outline-arrow-small-down:before { content: "\ea1b"; }
.eea-outline-arrow-small-left-1:before { content: "\ea1c"; }
.eea-outline-arrow-small-left:before { content: "\ea1d"; }
.eea-outline-arrow-small-right-1:before { content: "\ea1e"; }
.eea-outline-arrow-small-right:before { content: "\ea1f"; }
.eea-outline-arrow-small-up-1:before { content: "\ea20"; }
.eea-outline-arrow-small-up:before { content: "\ea21"; }
.eea-outline-arrow-top-right-on-square:before { content: "\ea22"; }
.eea-outline-arrow-trending-down:before { content: "\ea23"; }
.eea-outline-arrow-trending-up:before { content: "\ea24"; }
.eea-outline-arrow-up-circle:before { content: "\ea25"; }
.eea-outline-arrow-up-left:before { content: "\ea26"; }
.eea-outline-arrow-up-on-square-stack:before { content: "\ea27"; }
.eea-outline-arrow-up-on-square:before { content: "\ea28"; }
.eea-outline-arrow-up-right:before { content: "\ea29"; }
.eea-outline-arrow-up-tray:before { content: "\ea2a"; }
.eea-outline-arrow-up:before { content: "\ea2b"; }
.eea-outline-arrow-uturn-down:before { content: "\ea2c"; }
.eea-outline-arrow-uturn-left:before { content: "\ea2d"; }
.eea-outline-arrow-uturn-right:before { content: "\ea2e"; }
.eea-outline-arrow-uturn-up:before { content: "\ea2f"; }
.eea-outline-arrows-pointing-in:before { content: "\ea30"; }
.eea-outline-arrows-pointing-out:before { content: "\ea31"; }
.eea-outline-arrows-right-left:before { content: "\ea32"; }
.eea-outline-arrows-up-down:before { content: "\ea33"; }
.eea-outline-at-symbol:before { content: "\ea34"; }
.eea-outline-backspace:before { content: "\ea35"; }
.eea-outline-backward:before { content: "\ea36"; }
.eea-outline-banknotes:before { content: "\ea37"; }
.eea-outline-bars-2:before { content: "\ea38"; }
.eea-outline-bars-3-bottom-left:before { content: "\ea39"; }
.eea-outline-bars-3-bottom-right:before { content: "\ea3a"; }
.eea-outline-bars-3-center-left:before { content: "\ea3b"; }
.eea-outline-bars-3:before { content: "\ea3c"; }
.eea-outline-bars-4:before { content: "\ea3d"; }
.eea-outline-bars-arrow-down:before { content: "\ea3e"; }
.eea-outline-bars-arrow-up:before { content: "\ea3f"; }
.eea-outline-battery-0:before { content: "\ea40"; }
.eea-outline-battery-100:before { content: "\ea41"; }
.eea-outline-battery-50:before { content: "\ea42"; }
.eea-outline-beaker:before { content: "\ea43"; }
.eea-outline-bell-alert:before { content: "\ea44"; }
.eea-outline-bell-slash:before { content: "\ea45"; }
.eea-outline-bell-snooze:before { content: "\ea46"; }
.eea-outline-bell:before { content: "\ea47"; }
.eea-outline-bolt-slash:before { content: "\ea48"; }
.eea-outline-bolt:before { content: "\ea49"; }
.eea-outline-book-open:before { content: "\ea4a"; }
.eea-outline-bookmark-slash:before { content: "\ea4b"; }
.eea-outline-bookmark-square:before { content: "\ea4c"; }
.eea-outline-bookmark:before { content: "\ea4d"; }
.eea-outline-briefcase:before { content: "\ea4e"; }
.eea-outline-bug-ant:before { content: "\ea4f"; }
.eea-outline-building-library:before { content: "\ea50"; }
.eea-outline-building-office-2:before { content: "\ea51"; }
.eea-outline-building-office:before { content: "\ea52"; }
.eea-outline-building-storefront:before { content: "\ea53"; }
.eea-outline-cake:before { content: "\ea54"; }
.eea-outline-calculator:before { content: "\ea55"; }
.eea-outline-calendar-days:before { content: "\ea56"; }
.eea-outline-calendar:before { content: "\ea57"; }
.eea-outline-camera:before { content: "\ea58"; }
.eea-outline-chart-bar-square:before { content: "\ea59"; }
.eea-outline-chart-bar:before { content: "\ea5a"; }
.eea-outline-chart-pie:before { content: "\ea5b"; }
.eea-outline-chat-bubble-bottom-center-text:before { content: "\ea5c"; }
.eea-outline-chat-bubble-bottom-center:before { content: "\ea5d"; }
.eea-outline-chat-bubble-left-ellipsis:before { content: "\ea5e"; }
.eea-outline-chat-bubble-left-right:before { content: "\ea5f"; }
.eea-outline-chat-bubble-left:before { content: "\ea60"; }
.eea-outline-chat-bubble-oval-left-ellipsis:before { content: "\ea61"; }
.eea-outline-chat-bubble-oval-left:before { content: "\ea62"; }
.eea-outline-check-badge:before { content: "\ea63"; }
.eea-outline-check-circle:before { content: "\ea64"; }
.eea-outline-check:before { content: "\ea65"; }
.eea-outline-chevron-double-down:before { content: "\ea66"; }
.eea-outline-chevron-double-left:before { content: "\ea67"; }
.eea-outline-chevron-double-right:before { content: "\ea68"; }
.eea-outline-chevron-double-up:before { content: "\ea69"; }
.eea-outline-chevron-down:before { content: "\ea6a"; }
.eea-outline-chevron-left:before { content: "\ea6b"; }
.eea-outline-chevron-right:before { content: "\ea6c"; }
.eea-outline-chevron-up-down:before { content: "\ea6d"; }
.eea-outline-chevron-up:before { content: "\ea6e"; }
.eea-outline-circle-stack:before { content: "\ea6f"; }
.eea-outline-clipboard-document-check:before { content: "\ea70"; }
.eea-outline-clipboard-document-list:before { content: "\ea71"; }
.eea-outline-clipboard-document:before { content: "\ea72"; }
.eea-outline-clipboard:before { content: "\ea73"; }
.eea-outline-clock:before { content: "\ea74"; }
.eea-outline-cloud-arrow-down:before { content: "\ea75"; }
.eea-outline-cloud-arrow-up:before { content: "\ea76"; }
.eea-outline-cloud:before { content: "\ea77"; }
.eea-outline-code-bracket-square:before { content: "\ea78"; }
.eea-outline-code-bracket:before { content: "\ea79"; }
.eea-outline-cog-6-tooth:before { content: "\ea7a"; }
.eea-outline-cog-8-tooth:before { content: "\ea7b"; }
.eea-outline-cog:before { content: "\ea7c"; }
.eea-outline-command-line:before { content: "\ea7d"; }
.eea-outline-computer-desktop:before { content: "\ea7e"; }
.eea-outline-cpu-chip:before { content: "\ea7f"; }
.eea-outline-credit-card:before { content: "\ea80"; }
.eea-outline-cube-transparent:before { content: "\ea81"; }
.eea-outline-cube:before { content: "\ea82"; }
.eea-outline-currency-bangladeshi:before { content: "\ea83"; }
.eea-outline-currency-dollar:before { content: "\ea84"; }
.eea-outline-currency-euro:before { content: "\ea85"; }
.eea-outline-currency-pound:before { content: "\ea86"; }
.eea-outline-currency-rupee:before { content: "\ea87"; }
.eea-outline-currency-yen:before { content: "\ea88"; }
.eea-outline-cursor-arrow-rays:before { content: "\ea89"; }
.eea-outline-cursor-arrow-ripple:before { content: "\ea8a"; }
.eea-outline-device-phone-mobile:before { content: "\ea8b"; }
.eea-outline-device-tablet:before { content: "\ea8c"; }
.eea-outline-document-arrow-down:before { content: "\ea8d"; }
.eea-outline-document-arrow-up:before { content: "\ea8e"; }
.eea-outline-document-chart-bar:before { content: "\ea8f"; }
.eea-outline-document-check:before { content: "\ea90"; }
.eea-outline-document-duplicate:before { content: "\ea91"; }
.eea-outline-document-magnifying-glass:before { content: "\ea92"; }
.eea-outline-document-minus:before { content: "\ea93"; }
.eea-outline-document-plus:before { content: "\ea94"; }
.eea-outline-document-text:before { content: "\ea95"; }
.eea-outline-document:before { content: "\ea96"; }
.eea-outline-ellipsis-horizontal-circle:before { content: "\ea97"; }
.eea-outline-ellipsis-horizontal:before { content: "\ea98"; }
.eea-outline-ellipsis-vertical:before { content: "\ea99"; }
.eea-outline-envelope-open:before { content: "\ea9a"; }
.eea-outline-envelope:before { content: "\ea9b"; }
.eea-outline-exclaimation-circle:before { content: "\ea9c"; }
.eea-outline-exclamation-triangle:before { content: "\ea9d"; }
.eea-outline-eye-dropper:before { content: "\ea9e"; }
.eea-outline-eye-slash:before { content: "\ea9f"; }
.eea-outline-eye:before { content: "\eaa0"; }
.eea-outline-face-frown:before { content: "\eaa1"; }
.eea-outline-face-smile:before { content: "\eaa2"; }
.eea-outline-film:before { content: "\eaa3"; }
.eea-outline-finger-print:before { content: "\eaa4"; }
.eea-outline-fire:before { content: "\eaa5"; }
.eea-outline-flag:before { content: "\eaa6"; }
.eea-outline-folder-arrow-down:before { content: "\eaa7"; }
.eea-outline-folder-minus:before { content: "\eaa8"; }
.eea-outline-folder-open:before { content: "\eaa9"; }
.eea-outline-folder-plus:before { content: "\eaaa"; }
.eea-outline-folder:before { content: "\eaab"; }
.eea-outline-forward:before { content: "\eaac"; }
.eea-outline-funnel:before { content: "\eaad"; }
.eea-outline-gif:before { content: "\eaae"; }
.eea-outline-gift-top:before { content: "\eaaf"; }
.eea-outline-gift:before { content: "\eab0"; }
.eea-outline-globe-alt:before { content: "\eab1"; }
.eea-outline-globe-americas:before { content: "\eab2"; }
.eea-outline-globe-asia-australia:before { content: "\eab3"; }
.eea-outline-globe-europe-africa:before { content: "\eab4"; }
.eea-outline-hand-raised:before { content: "\eab5"; }
.eea-outline-hand-thumb-down:before { content: "\eab6"; }
.eea-outline-hand-thumb-up:before { content: "\eab7"; }
.eea-outline-hashtag:before { content: "\eab8"; }
.eea-outline-heart:before { content: "\eab9"; }
.eea-outline-home-modern:before { content: "\eaba"; }
.eea-outline-home:before { content: "\eabb"; }
.eea-outline-identification:before { content: "\eabc"; }
.eea-outline-inbox-arrow-down:before { content: "\eabd"; }
.eea-outline-inbox-stack:before { content: "\eabe"; }
.eea-outline-inbox:before { content: "\eabf"; }
.eea-outline-information-circle:before { content: "\eac0"; }
.eea-outline-key:before { content: "\eac1"; }
.eea-outline-language:before { content: "\eac2"; }
.eea-outline-lifebuoy:before { content: "\eac3"; }
.eea-outline-light-bulb:before { content: "\eac4"; }
.eea-outline-link:before { content: "\eac5"; }
.eea-outline-list-bullet:before { content: "\eac6"; }
.eea-outline-lock-closed:before { content: "\eac7"; }
.eea-outline-lock-open:before { content: "\eac8"; }
.eea-outline-magnifying-glass-circle:before { content: "\eac9"; }
.eea-outline-magnifying-glass-minus:before { content: "\eaca"; }
.eea-outline-magnifying-glass-plus:before { content: "\eacb"; }
.eea-outline-magnifying-glass:before { content: "\eacc"; }
.eea-outline-map-pin:before { content: "\eacd"; }
.eea-outline-map:before { content: "\eace"; }
.eea-outline-megaphone:before { content: "\eacf"; }
.eea-outline-microphone:before { content: "\ead0"; }
.eea-outline-minus-circle:before { content: "\ead1"; }
.eea-outline-minus-small-1:before { content: "\ead2"; }
.eea-outline-minus-small:before { content: "\ead3"; }
.eea-outline-minus:before { content: "\ead4"; }
.eea-outline-moon:before { content: "\ead5"; }
.eea-outline-musical-note:before { content: "\ead6"; }
.eea-outline-newspaper:before { content: "\ead7"; }
.eea-outline-no-symbol:before { content: "\ead8"; }
.eea-outline-paint-brush:before { content: "\ead9"; }
.eea-outline-paper-airplane:before { content: "\eada"; }
.eea-outline-paper-clip:before { content: "\eadb"; }
.eea-outline-pause-circle:before { content: "\eadc"; }
.eea-outline-pause:before { content: "\eadd"; }
.eea-outline-pencil-square:before { content: "\eade"; }
.eea-outline-pencil:before { content: "\eadf"; }
.eea-outline-phone-arrow-down-left:before { content: "\eae0"; }
.eea-outline-phone-arrow-up-right:before { content: "\eae1"; }
.eea-outline-phone-x-mark:before { content: "\eae2"; }
.eea-outline-phone:before { content: "\eae3"; }
.eea-outline-photo:before { content: "\eae4"; }
.eea-outline-play-circle:before { content: "\eae5"; }
.eea-outline-play-pause:before { content: "\eae6"; }
.eea-outline-play:before { content: "\eae7"; }
.eea-outline-plus-circle:before { content: "\eae8"; }
.eea-outline-plus-small-1:before { content: "\eae9"; }
.eea-outline-plus-small:before { content: "\eaea"; }
.eea-outline-plus:before { content: "\eaeb"; }
.eea-outline-power:before { content: "\eaec"; }
.eea-outline-presentation-chart-bar:before { content: "\eaed"; }
.eea-outline-presentation-chart-line:before { content: "\eaee"; }
.eea-outline-printer:before { content: "\eaef"; }
.eea-outline-puzzle-piece:before { content: "\eaf0"; }
.eea-outline-qr-code:before { content: "\eaf1"; }
.eea-outline-question-mark-circle:before { content: "\eaf2"; }
.eea-outline-queue-list:before { content: "\eaf3"; }
.eea-outline-radio:before { content: "\eaf4"; }
.eea-outline-receipt-percent:before { content: "\eaf5"; }
.eea-outline-receipt-refund:before { content: "\eaf6"; }
.eea-outline-rectangle-group:before { content: "\eaf7"; }
.eea-outline-rectangle-stack:before { content: "\eaf8"; }
.eea-outline-rocket-launch:before { content: "\eaf9"; }
.eea-outline-rss:before { content: "\eafa"; }
.eea-outline-scale:before { content: "\eafb"; }
.eea-outline-scissors:before { content: "\eafc"; }
.eea-outline-server-stack:before { content: "\eafd"; }
.eea-outline-server:before { content: "\eafe"; }
.eea-outline-share:before { content: "\eaff"; }
.eea-outline-shield-check:before { content: "\eb00"; }
.eea-outline-shield-exclamation:before { content: "\eb01"; }
.eea-outline-shopping-bag:before { content: "\eb02"; }
.eea-outline-shopping-cart:before { content: "\eb03"; }
.eea-outline-signal-slash:before { content: "\eb04"; }
.eea-outline-signal:before { content: "\eb05"; }
.eea-outline-sparkles:before { content: "\eb06"; }
.eea-outline-speaker-wave:before { content: "\eb07"; }
.eea-outline-speaker-x-mark:before { content: "\eb08"; }
.eea-outline-square-2-stack:before { content: "\eb09"; }
.eea-outline-square-3-stack-3d:before { content: "\eb0a"; }
.eea-outline-squares-2x2:before { content: "\eb0b"; }
.eea-outline-squares-plus:before { content: "\eb0c"; }
.eea-outline-star:before { content: "\eb0d"; }
.eea-outline-stop-circle:before { content: "\eb0e"; }
.eea-outline-stop:before { content: "\eb0f"; }
.eea-outline-sun:before { content: "\eb10"; }
.eea-outline-swatch:before { content: "\eb11"; }
.eea-outline-table-cells:before { content: "\eb12"; }
.eea-outline-tag:before { content: "\eb13"; }
.eea-outline-ticket:before { content: "\eb14"; }
.eea-outline-trash:before { content: "\eb15"; }
.eea-outline-trophy:before { content: "\eb16"; }
.eea-outline-truck:before { content: "\eb17"; }
.eea-outline-tv:before { content: "\eb18"; }
.eea-outline-user-circle:before { content: "\eb19"; }
.eea-outline-user-group:before { content: "\eb1a"; }
.eea-outline-user-minus:before { content: "\eb1b"; }
.eea-outline-user-plus:before { content: "\eb1c"; }
.eea-outline-user:before { content: "\eb1d"; }
.eea-outline-users:before { content: "\eb1e"; }
.eea-outline-variable:before { content: "\eb1f"; }
.eea-outline-video-camera-slash:before { content: "\eb20"; }
.eea-outline-video-camera:before { content: "\eb21"; }
.eea-outline-view-columns:before { content: "\eb22"; }
.eea-outline-viewfinder-dot:before { content: "\eb23"; }
.eea-outline-wallet:before { content: "\eb24"; }
.eea-outline-wifi:before { content: "\eb25"; }
.eea-outline-window:before { content: "\eb26"; }
.eea-outline-wrench-screwdriver:before { content: "\eb27"; }
.eea-outline-wrench:before { content: "\eb28"; }
.eea-outline-x-circle:before { content: "\eb29"; }
.eea-outline-x-mark:before { content: "\eb2a"; }

